:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif; /* Weights 400, 700 */
    min-height: calc(100vh - .01px);
    background-color: var(--clr-light-gray);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    margin-inline: auto;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    max-width: 365px;
    row-gap: 1rem;
}

.text {
    text-align: center;
}

.text h1 {
    color: var(--clr-dark-blue);
    font-weight: 700;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

.text p {
    color: var(--clr-grayish-blue);
    font-weight: 400;
    padding-inline: 2.5rem;
    padding-block: 1rem;
}

.qr-code img {
    border-radius: 10px;
}

