
:root {
    /* Primary Colors */
    --clr-moderate-violet: hsl(263, 55%, 52%);
    --clr-dark-gray-blue: hsl(217, 19%, 35%);
    --clr-dark-black-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    /* Neutral Colors */
    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-light-gray-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.testimonial-grid {
    font-family: 'Barlow Semi Condensed', sans-serif; /* Weights 500 600 */
    font-size: 13px;
    background-color: var(--clr-light-gray-blue);
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    

    grid-auto-columns: 1fr;
    grid-template-areas: 
        'daniel-clifford'
        'jonathan-walters'
        'jeanette-harmon'
        'patrick-abrams'
        'kira-whittle';
}

.testimonial {
    border-radius: 10px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 2rem;
    padding-block: 1rem;

}

.testimonial h2 {
    font-weight: 600;
}

.testimonial .quote {
    opacity: 70%;
    line-height: 1.25rem;
}

.daniel {
    grid-area: daniel-clifford;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-color: var(--clr-moderate-violet);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    color: var(--clr-white);
}

.jonathan {
    grid-area: jonathan-walters;
    background-color: var(--clr-dark-gray-blue);
    color: var(--clr-white);
}

.jeanette {
    grid-area: jeanette-harmon;
    background-color: var(--clr-white);
    color: var(--clr-dark-gray-blue);

}

.patrick {
    grid-area: patrick-abrams;
    background-color: var(--clr-dark-black-blue);
    color: var(--clr-white);

}

.kira {
    grid-area: kira-whittle;
    background-color: var(--clr-white);
    color: var(--clr-dark-gray-blue);
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info .profile-pic {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--clr-white);
}

.daniel .info .profile-pic {
    border-color: rgb(156, 120, 214);
}

.patrick .info .profile-pic {
    border-color: var(--clr-moderate-violet);
}

.info-subsection .name {
    font-weight: 600;
}

.info-subsection .verify {
    opacity: 50%;
}

@media (min-width: 900px) {

    .testimonial-grid {
        grid-template-areas:
            'daniel-clifford daniel-clifford jonathan-walters kira-whittle'
            'jeanette-harmon patrick-abrams patrick-abrams kira-whittle'; 

        max-width: 90vw;
        margin-inline: auto;
        
    }
    
}